ID{
    display:block
}
NIM
{
color:blue;
font-weight:bold;
font-size: 20pt;
background-color: pink;

}
Kota
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
